@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

/*
.visually-hidden {
  display: none;
}
*/

/* Sticky footer */

.main-index,
.main-catalog {
  flex-grow: 1;
}

/* Buttons */

.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-align: center;
}

.button.navigation {
  width: 160px;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 9px 15px 8px;
}

.subscription {
  background-color: #82B3D3;
}

.filter-submit {
  background-color: #82B3D3;
  font-size: 16px;
  line-height: 20px;
}

.filter-reset {
  background-color: transparent;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
}

.button.booking {
  padding: 0;
  margin: 0 auto;
  width: 574px;
}

/* Header */

.page-header {
  display: flex;
  margin: 0;
  padding: 0 70px;
}

.header-logo {
  display: block;
  margin: 0;
  margin-right: 30px;
}

.navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.navigation-list {
  width: 520px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-user-list-wrapper {
  width: 264px;
  display: flex;
}

.navigation-user-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-link,
.navigation-user-link {
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  text-align: left;
  text-decoration: none;
}

/* Index text blocks */

.main-index,
.page-footer-subscription {
  text-align: center;
}

.main-index-greeding {
  color: #ffffff;
  background-color: #756157;
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 51px 0 82px;
}

.index-lettering {
  display: block;
  margin: 0 auto;
}

.main-index-slogan,
.action-question,
.subscription-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.benefits-title {
  margin: 0;
  padding: 63px 0 90px;
}

.main-index-slogan {
  width: 620px;
  margin: 0 auto 31px;
  padding: 0;
  text-align: center;
}

.main-index-text {
  width: 655px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

/* Adventages */



.benefits-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.benefits-point {
  width: 400px;
}

.benefits-point-wrapper {
  width: 400px;
}

.benefits-point.point-with-img {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
}

.benefits-img {
  display: block;
  margin: 0;
}

.serviece-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.serviece-list-item {
  width: 400px;
}

.benefits-point-title,
.srviece-list-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.benefits-point-text,
.serviece-list-item-text {
  font-size: 18px;
  line-height: 21px;
}

.benefits-point:nth-child(1),
.benefits-point:nth-child(2) {
  color: #ffffff;
  background-color: #82B3D3;
}

.benefits-point:nth-child(3),
.benefits-point:nth-child(5) {
  background-color: rgba(131, 179, 211, 0.12);
}

.benefits-point:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.2);
}

.serviece-list {
  color: #000000;
  background-color: #ffffff;;
}

.serviece-list-item:nth-child(1),
.serviece-list-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.12);
}

/* Action form */

.action {
  margin: 0;
  padding: 91px 0 93px;
}

.action-question {
  margin: 0 auto 29px;
  padding: 0;
  width: 297px;
}

.action-text {
  margin: 0 auto 56px;
  padding: 0;
  width: 592px;
}


/* Subscription form */

.page-footer-subscription {
  background-color: #82B3D3;
  color: #ffffff;
  background-image: url("../images/subscription-area-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.alternative-footer-background {
  background-color: #ffffff;
  background-image: none;
}

.alternative-footer-font {
  color: #000000;
}

/* Filter */

.filter-wrapper {
  background-color: #756157;
  color: #ffffff;
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 0;
  padding: 35px 70px 70px;
}

.catalog-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0 0 10px;
  padding: 0;
}

.breadcrums {
  display: flex;
  font-size: 16px;
  line-height: 21px;
  list-style-type: none;
  margin: 0 0 40px;
  padding: 0;
}

.breadcrums-link {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
}

.header-filter-form {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}

.filter-group {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.filter-group {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}

.filter-group.infrastracture {
  width: 150px;
  margin-right: 70px;
}

.filter-group.property-type {
  width: 145px;
  margin-right: 176px;
}

.filter-group.price-range {
  width: 289px;
  margin-right: 70px;
}

.button-filter-wrapper {
  width: 160px;
}

.filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-legend {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  border: none;
}

.catalog-search-filter {
  display: flex;
  width: auto;
  margin: 0;
  padding: 50px 76px 56px;
}

.search-filter-title {
  width: 338px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  margin-right: 191px;
  padding: 0;
}

.search-filter-select {
  width: 290px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  margin-right: 78px;
  padding: 0;
}

.search-filter-list {
  display: flex;
  width: 160px;
  list-style: none;
}

/* Catalog */

.product-list {
  display: flex;
  width: auto;
  flex-wrap: wrap;
  margin: 0 71px 66px;
  padding: 0;
  list-style: none;
}

.product-card {
  width: 340px;
  margin: 0;
}

.product-card:not(:nth-of-type(3n)) {
  margin-right: 18px;
}

.product-card-link {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
}

.product-card-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.product-card-info-button,
.product-card-bookmark-button {
  color: #ffffff;
  background-color: #756157;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.product-card-raiting {
  background-color: #F2F2F2;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

/* Pagination */

.pagination {
  display: flex;
  border-top: 1px solid #E6E6E6;
  margin: 0 71px 25px;
  padding: 0;
}

.pagination-list {
  display: flex;
  width: 400px;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  margin-right: 270px;
  padding: 0;
}

.pagination-link {
  color: #ffffff;
  background-color: #82B3D3;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  text-align: center;
}

.page-result-total,
.page-result-select {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.page-result-total {
  width: 175px;
  margin: 0;
  margin-right: 51px;
  padding: 0;
}

.page-result-select {
  width: 160px;
  margin: 0;
  padding: 0;
}

/* Page Footer */

.page-footer-subscription {
  margin: 0;
  padding: 94px 0;
}

.subscription-title {
  margin: 0 auto 29px;
  width: 404px;
}

.subscription-text {
  margin: 0 auto 46px;
  width: 475px;
}

.subscription-form {
  margin: 0 auto;
  width: 800px;
}

.page-contacts-wrapper {
  display: flex;
  width: 1060px;
  padding: 40px 70px 30px;
  justify-content: space-between;
  align-items: center;
}

.social-list {
  display: flex;
  width: 142px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-footer-contacts {
  width: 331px;
  margin: 0;
  padding: 0;
}

.contacts-phone {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
}

.page-footer-developer {
  display: block;
}
