@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #E5E5E5;

}

.body-container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Sticky footer */

.main-index,
.main-catalog {
  flex-grow: 1;
}

/* Buttons */

.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-align: center;
}

.button.navigation-booking {
  min-width: 160px;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.subscription {
  background-color: #82B3D3;
}

.filter-submit {
  background-color: #82B3D3;
  font-size: 16px;
  line-height: 20px;
}

.filter-reset {
  background-color: transparent;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
}

.button.booking {
  padding: 0;
  margin: 0 auto;
  min-width: 574px;
}

/* Header */

.page-header {
  display: flex;
  margin: 0 0 -5px;
  padding: 0 70px;
}

.header-logo {
  display: block;
  margin: 0 30px 0 0;
}

.navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.navigation-list {
  width: 520px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-user-list-wrapper {
  width: 264px;
  display: flex;
}

.navigation-user-list {
  display: flex;
  margin: 0 20px 0 0;
  padding: 0;
  list-style: none;
}

.navigation-link,
.navigation-user-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  text-align: left;
  text-decoration: none;
}

.navigation-link {
  padding: 17px 20px;
}

.navigation-user-link {
  min-width: 42px;
  min-height: 66px;
}

/* Index text blocks */

.main-index,
.page-footer-subscription {
  text-align: center;
}

.main-index-greeding {
  color: #ffffff;
  background-color: #756157;
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 51px 0 82px;
}

.index-lettering {
  display: block;
  margin: 0 auto;
}

.main-index-slogan,
.action-question,
.subscription-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.benefits-title {
  margin: 0;
  padding: 63px 0 0;
}

.main-index-slogan {
  margin: 0 auto 31px;
  padding: 0;
  text-align: center;
}

.main-index-text {
  margin: 0 auto 90px;
  padding: 0;
  text-align: center;
}

/* Adventages */



.benefits-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.benefits-point:not(.point-with-img) {
  padding: 92px 0 0;
  width: 400px;
}

.benefits-point-wrapper {
  padding: 92px 0 0;
  width: 400px;
}

.benefits-point.point-with-img {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.benefits-img {
  display: block;
  margin: 0;
}

.serviece-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.serviece-list-item {
  padding: 182px 0 0;
  width: 400px;
}

.benefits-point-title,
.srviece-list-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  width: 230px;
  text-align: center;
  margin: 0 auto 30px;
}

.benefits-point-text,
.serviece-list-item-text {
  width: 230px;
  font-size: 18px;
  line-height: 21px;
}

.serviece-list-item-text {
  text-align: center;
  margin: 0 auto 81px;
}

.benefits-point:nth-child(1),
.benefits-point:nth-child(2) {
  color: #ffffff;
  background-color: #82B3D3;
}

.benefits-point:nth-child(3),
.benefits-point:nth-child(5) {
  background-color: rgba(131, 179, 211, 0.12);
}

.benefits-point:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.2);
}

.serviece-list {
  color: #000000;
  background-color: #ffffff;
}

.serviece-list-item:nth-child(1),
.serviece-list-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.12);
}

.benefits-point-number {
  display: block;
  margin: 0 auto 30px;
}

.benefits-point-text {
  text-align: center;
  margin: 0 auto 92px;
}

/* Action form */

.action {
  margin: 0;
  padding: 91px 0 93px;
}

.action-question {
  margin: 0 auto 29px;
  padding: 0;
}

.action-text {
  margin: 0 auto 56px;
  padding: 0;
}


/* Subscription form */

.page-footer-subscription {
  background-color: #82B3D3;
  color: #ffffff;
  background-image: url("../images/subscription-area-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.alternative-footer-background {
  background-color: #ffffff;
  background-image: none;
}

.alternative-footer-font {
  color: #000000;
}

/* Filter */

.filter-wrapper {
  background-color: #756157;
  color: #ffffff;
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 0;
  padding: 35px 70px 70px;
}

.catalog-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0 0 10px;
}

.breadcrums {
  display: flex;
  font-size: 16px;
  line-height: 21px;
  list-style-type: none;
  margin: 0 0 40px;
  padding: 0;
}

.breadcrums-link {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
  margin-right: 26px;
}

.header-filter-form {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}

.filter-group {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}

.filter-group.infrastracture {
  min-width: 150px;
  margin-right: 70px;
}

.filter-group.property-type {
  min-width: 150px;
  margin-right: 176px;
}

.filter-group.price-range {
  min-width: 290px;
  margin-right: 70px;
}

.button-filter-wrapper {
  min-width: 160px;
}

.filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-legend {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  border: none;
}

.catalog-search-filter {
  display: flex;
  width: auto;
  margin: 0;
  padding: 50px 76px 56px;
}

.search-filter-title {
  min-width: 340px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0 191px 0 0;
  padding: 0;
}

.search-filter-select {
  width: 290px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0 78px 0 0;
  padding: 0;
}

.search-filter-list {
  display: flex;
  min-width: 160px;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-filter-item {
  min-width: 48px;
  min-height: 48px;
  margin-right: 8px;
}

.search-filter-item:last-child {
  margin-right: 0;
}


/* Catalog */

.product-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  width: auto;
  column-gap: 18px;
  margin: 0;
  padding: 0 72px 66px;
  list-style: none;
}

.product-card {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: auto auto auto auto;
  gap: 16px 20px;
  padding: 20px;
  width: 340px;
  margin: 0;
  box-sizing: border-box;
}

.product-card-link {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  grid-column: 1/-1;
}

.product-card-img {
  margin: 0 0 16px;
}

.product-card-title {
  margin: 0;
}

.product-card-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.product-card-info-button,
.product-card-bookmark-button {
  color: #ffffff;
  background-color: #756157;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.product-card-raiting {
  background-color: #F2F2F2;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  grid-column: 2/3;
}

/* Pagination */

.pagination {
  display: flex;
  width: auto;
  border-top: 1px solid #E6E6E6;
  margin: 0 71px 25px;
  padding: 30px 0 0;
}

.pagination-list {
  display: flex;
  min-width: 400px;
  justify-content: space-between;
  list-style: none;
  margin: 0 270px 0 0;
  padding: 0;
}

.pagination-item {
  margin: 0;
  padding: 0;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #82B3D3;
  min-width: 60px;
  min-height: 60px;
  padding: 12px 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
}

.pagination-link.two-digit {
  padding: 12px 18px;
}

.page-result-total,
.page-result-select {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.page-result-total {
  min-width: 175px;
  margin: 20px 51px 0 0;
  padding: 0;
}

.page-result-select {
  width: 160px;
  margin: 0;
  padding: 0;
}

/* Page Footer */

.page-footer-subscription {
  margin: 0;
  padding: 94px 0;
}

.subscription-title {
  margin: 0 auto 29px;
}

.subscription-text {
  margin: 0 auto 46px;
}

.subscription-form {
  margin: 0 auto;
}

.page-contacts-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 70px 30px;
  justify-content: space-between;
  align-items: center;
}

.social-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-item {
  min-width: 48px;
  min-height: 40px;
}

.page-footer-contacts {
  width: 331px;
  margin: 0;
  padding: 0;
}

.contacts-phone {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
}

.contacts-developer-logo {
  display: block;
}
